# Test/Demo Classes

Step 1 - Create aWhere object of desired class.

Step 2 - Call the api_to_gdf() class method (with optional parameters) to go return geodataframe of the extracted and cleaned API data.

## Environment Setup

In [1]:
# Imports
import os
from awhere_classes import *

# Show all pandas columns
pd.set_option('max_columns', None)

In [2]:
# Define aWhere API key and secret
api_key = os.environ.get('AWHERE_API_KEY')
api_secret = os.environ.get('AWHERE_API_SECRET')

## Weather Norms - Location

In [3]:
# Define WeatherLocationNorms object, Bear Lake, RMNP, Colorado
norms_object = WeatherLocationNorms(
    api_key, api_secret, latitude=40.313250, longitude=-105.648222)

In [4]:
# Define kwargs (parameters from get_data)
norms_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe
norms_gdf = WeatherLocationNorms.api_to_gdf(norms_object, norms_kwargs)

In [5]:
# Display geodataframe
norms_gdf.head()

,mean_temp_avg_cels,mean_temp_std_dev_cels,max_temp_avg_cels,max_temp_std_dev_cels,min_temp_avg_cels,min_temp_std_dev_cels,precip_avg_mm,precip_std_dev_mm,solar_avg_w_h_per_m2,solar.stdDev,min_humiduty_avg_%,min_humidity_std_dev_%,max_humiduty_avg_%,max_humidity_std_dev_%,daily_max_wind_avg_m_per_sec,daily_max_wind_std_dev_m_per_sec,average_wind_m_per_sec,average_wind_std_dev_m_per_sec,geometry
day,,,,,,,,,,,,,,,,,,,
05-01,-1.1190,5.068417,3.876,5.916274,-6.114,4.420559,3.68035,9.554543,4431.667969,1377.411019,41.275,19.059746,87.468,12.352879,8.133095,1.840321,3.621491,0.984079,POINT (-105.64822 40.31325)
05-02,-0.1465,4.799937,6.008,5.381678,-6.301,5.016509,1.46045,2.810060,5611.167041,1472.916885,36.652,12.935928,88.573,7.825873,6.987793,1.524514,2.889469,0.687822,POINT (-105.64822 40.31325)
05-03,2.5060,3.589441,9.902,4.821597,-4.890,3.117275,1.58140,3.664253,6290.147144,1506.636049,28.086,15.302460,85.673,10.357255,7.615376,1.918557,3.427145,0.938786,POINT (-105.64822 40.31325)
05-04,4.3530,3.402978,11.472,5.071574,-2.766,2.787927,0.19920,0.629926,6444.413379,1520.595394,25.680,15.660493,74.959,16.532896,7.747343,3.441009,3.586217,1.860520,POINT (-105.64822 40.31325)
05-05,4.7560,2.985137,12.613,4.306329,-3.101,2.628673,0.23410,0.740289,6617.703345,1489.975061,23.204,17.430204,78.599,12.711234,7.259182,2.180336,3.262730,1.052785,POINT (-105.64822 40.31325)

## Weather Observed - Location

In [6]:
# Define WeatherLocationObserved object, Bear Lake, RMNP, Colorado
observed_object = WeatherLocationObserved(
    api_key, api_secret, latitude=40.313250, longitude=-105.648222)

In [7]:
# Define kwargs (parameters from get_data)
#observed_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe
observed_gdf = WeatherLocationObserved.api_to_gdf(observed_object)

In [8]:
# Display geodataframe
observed_gdf.head()

,temp_max_cels,temp_min_cels,precip_amount_mm,solar_energy_w_h_per_m2,rel_humidity_max_%,rel_humidity_min_%,wind_morning_max_m_per_sec,wind_day_max_m_per_sec,wind_avg_m_per_sec,geometry
date,,,,,,,,,,
2020-04-09,8.65,-7.12,0.0000,6298.243164,90.470001,28.090000,4.098253,5.974836,2.299960,POINT (-105.64822 40.31325)
2020-04-10,10.29,-4.51,0.0000,5622.220703,89.510002,22.110001,4.583050,8.371593,3.077507,POINT (-105.64822 40.31325)
2020-04-11,8.87,-7.14,0.1700,6491.579590,89.070000,18.700001,7.052672,9.660451,4.044954,POINT (-105.64822 40.31325)
2020-04-12,-6.05,-13.30,2.0775,2487.015625,100.000000,65.269997,6.876626,8.036047,3.899017,POINT (-105.64822 40.31325)
2020-04-13,-10.59,-17.82,0.3120,2562.264404,94.169998,67.010002,5.660961,7.403044,3.167361,POINT (-105.64822 40.31325)

## Weather Forecast - Location

In [9]:
# Define WeatherLocationNorms object, Bear Lake, RMNP, Colorado
forecast_object = WeatherLocationForecast(
    api_key, api_secret, latitude=40.313250, longitude=-105.648222)

In [10]:
# Define kwargs (parameters from get_data)
#forecast_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe - main forecast
forecast_main_gdf = WeatherLocationForecast.api_to_gdf(forecast_object, forecast_type='main')

In [11]:
# Display geodataframe
forecast_main_gdf.head()

,start_time,end_time,conditions_code,conditions_text,temp_max_cels,temp_min_cels,precip_chance_%,precip_amount_mm,sky_cloud_cover_%,sky_sunshine_%,solar_energy_w_h_per_m2,rel_humidity_avg_%,rel_humidity_max_%,rel_humidity_min_%,wind_avg_m_per_sec,wind_max_m_per_sec,wind_min_m_per_sec,wind_bearing_deg,wind_direction_compass,dew_point_cels,geometry
date,,,,,,,,,,,,,,,,,,,,,
2020-04-16,2020-04-16T00:00:00+00:00,2020-04-16T23:59:59+00:00,F41,"Cloudy, Heavy Rain, Light Wind/Calm",-4.331214,-11.137627,100.000000,34.500,100.000,0.000,4488.0,94.950000,97.500000,87.599998,2.197004,2.947335,0.990877,162.6,SSE,-8.221058,POINT (-105.64822 40.31325)
2020-04-17,2020-04-17T00:00:00+00:00,2020-04-17T23:59:59+00:00,D21,"Partly Cloudy, Light Rain, Light Wind/Calm",-3.763978,-18.777864,100.000000,1.125,49.500,50.500,8070.0,90.541666,97.500000,83.699997,2.358432,4.567464,0.390056,251.0,WSW,-12.283428,POINT (-105.64822 40.31325)
2020-04-18,2020-04-18T00:00:00+00:00,2020-04-18T23:59:59+00:00,D31,"Partly Cloudy, Moderate Rain, Light Wind/Calm",-0.670270,-11.789642,100.000000,3.500,56.375,43.625,6330.0,89.333334,97.800003,81.199997,1.837758,2.912856,1.063790,263.0,W,-8.195250,POINT (-105.64822 40.31325)
2020-04-19,2020-04-19T00:00:00+00:00,2020-04-19T23:59:59+00:00,F31,"Cloudy, Moderate Rain, Light Wind/Calm",-0.570677,-9.427953,95.833328,3.125,90.250,9.750,7476.0,92.870833,99.699997,82.699997,2.999532,6.478321,0.536492,267.6,W,-5.758601,POINT (-105.64822 40.31325)
2020-04-20,2020-04-20T00:00:00+00:00,2020-04-20T23:59:59+00:00,E31,"Mostly Cloudy, Moderate Rain, Light Wind/Calm",1.834542,-6.715537,39.166668,3.000,74.000,26.000,7410.0,96.350000,99.400002,90.599998,2.126241,3.160877,1.052093,251.4,WSW,-3.468851,POINT (-105.64822 40.31325)

In [12]:
# Create geodataframe - soil forecast
forecast_soil_gdf = WeatherLocationForecast.api_to_gdf(forecast_object, forecast_type='soil')

In [13]:
# Display geodataframe
forecast_soil_gdf.head()

                           soil_temp_avg_cels  soil_temp_max_cels  \
date       ground_depth_m
2020-04-16 0-0.1                    -6.644334           -6.250000
           0.1-0.4                  -2.904246           -2.893301
           0.4-1                    -2.077790           -2.077637
           1-2                      -1.238730           -1.238242
2020-04-17 0-0.1                    -8.792703           -6.604831

                           soil_temp_min_cels  soil_moisture_avg_%  \
date       ground_depth_m
2020-04-16 0-0.1                    -7.118310            38.250000
           0.1-0.4                  -2.909570            35.550001
           0.4-1                    -2.078242            26.303709
           1-2                      -1.240000            19.543127
2020-04-17 0-0.1                   -10.671802            38.504168

                           soil_moisture_max_%  soil_moisture_min_%  \
date       ground_depth_m
2020-04-16 0-0.1                     38.400002            38.100002
           0.1-0.4                   35.600002            35.500000
           0.4-1                     26.303709            26.303709
           1-2                       19.543127            19.543127
2020-04-17 0-0.1                     38.600002            38.400002

                                              geometry
date       ground_depth_m
2020-04-16 0-0.1           POINT (-105.64822 40.31325)
           0.1-0.4         POINT (-105.64822 40.31325)
           0.4-1           POINT (-105.64822 40.31325)
           1-2             POINT (-105.64822 40.31325)
2020-04-17 0-0.1           POINT (-105.64822 40.31325)

## Weather Norms - Field

In [14]:
# Define WeatherFieldNorms object
norms_object = WeatherFieldNorms(
    api_key, api_secret, field_id='CO-RMNP-Bear-Lake')

In [15]:
# Define kwargs (parameters from get_data)
norms_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe
norms_gdf = WeatherFieldNorms.api_to_gdf(norms_object, norms_kwargs)

In [16]:
# Display geodataframe
norms_gdf.head()

,mean_temp_avg_cels,mean_temp_std_dev_cels,max_temp_avg_cels,max_temp_std_dev_cels,min_temp_avg_cels,min_temp_std_dev_cels,precip_avg_mm,precip_std_dev_mm,solar_avg_w_h_per_m2,solar.stdDev,min_humiduty_avg_%,min_humidity_std_dev_%,max_humiduty_avg_%,max_humidity_std_dev_%,daily_max_wind_avg_m_per_sec,daily_max_wind_std_dev_m_per_sec,average_wind_m_per_sec,average_wind_std_dev_m_per_sec,geometry
day,,,,,,,,,,,,,,,,,,,
05-01,-1.1190,5.068417,3.876,5.916274,-6.114,4.420559,3.68035,9.554543,4431.667969,1377.411019,41.275,19.059746,87.468,12.352879,8.133095,1.840321,3.621491,0.984079,POINT (-105.64822 40.31325)
05-02,-0.1465,4.799937,6.008,5.381678,-6.301,5.016509,1.46045,2.810060,5611.167041,1472.916885,36.652,12.935928,88.573,7.825873,6.987793,1.524514,2.889469,0.687822,POINT (-105.64822 40.31325)
05-03,2.5060,3.589441,9.902,4.821597,-4.890,3.117275,1.58140,3.664253,6290.147144,1506.636049,28.086,15.302460,85.673,10.357255,7.615376,1.918557,3.427145,0.938786,POINT (-105.64822 40.31325)
05-04,4.3530,3.402978,11.472,5.071574,-2.766,2.787927,0.19920,0.629926,6444.413379,1520.595394,25.680,15.660493,74.959,16.532896,7.747343,3.441009,3.586217,1.860520,POINT (-105.64822 40.31325)
05-05,4.7560,2.985137,12.613,4.306329,-3.101,2.628673,0.23410,0.740289,6617.703345,1489.975061,23.204,17.430204,78.599,12.711234,7.259182,2.180336,3.262730,1.052785,POINT (-105.64822 40.31325)

## Weather Field - Observed

In [17]:
# Define WeatherFieldObserved object
observed_object = WeatherFieldObserved(
    api_key, api_secret, field_id='CO-RMNP-Bear-Lake')

In [18]:
# Define kwargs (parameters from get_data)
#observed_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe
observed_gdf = WeatherFieldObserved.api_to_gdf(observed_object)

In [19]:
# Display geodataframe
observed_gdf.head()

,temp_max_cels,temp_min_cels,precip_amount_mm,solar_energy_w_h_per_m2,rel_humidity_max_%,rel_humidity_min_%,wind_morning_max_m_per_sec,wind_day_max_m_per_sec,wind_avg_m_per_sec,geometry
date,,,,,,,,,,
2020-04-09,8.65,-7.12,0.0000,6298.243164,90.470001,28.090000,4.098253,5.974836,2.299960,POINT (-105.64822 40.31325)
2020-04-10,10.29,-4.51,0.0000,5622.220703,89.510002,22.110001,4.583050,8.371593,3.077507,POINT (-105.64822 40.31325)
2020-04-11,8.87,-7.14,0.1700,6491.579590,89.070000,18.700001,7.052672,9.660451,4.044954,POINT (-105.64822 40.31325)
2020-04-12,-6.05,-13.30,2.0775,2487.015625,100.000000,65.269997,6.876626,8.036047,3.899017,POINT (-105.64822 40.31325)
2020-04-13,-10.59,-17.82,0.3120,2562.264404,94.169998,67.010002,5.660961,7.403044,3.167361,POINT (-105.64822 40.31325)

## Weather Field - Forecast

In [20]:
# Define WeatherLocationForecast object, Bear Lake, RMNP, Colorado
forecast_object = WeatherFieldForecast(
    api_key, api_secret, field_id='CO-RMNP-Bear-Lake')

In [21]:
# Define kwargs (parameters from get_data)
#forecast_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe - main forecast
forecast_main_gdf = WeatherFieldForecast.api_to_gdf(forecast_object, forecast_type='main')

In [22]:
# Display geodataframe
forecast_main_gdf.head()

,start_time,end_time,conditions_code,conditions_text,temp_max_cels,temp_min_cels,precip_chance_%,precip_amount_mm,sky_cloud_cover_%,sky_sunshine_%,solar_energy_w_h_per_m2,rel_humidity_avg_%,rel_humidity_max_%,rel_humidity_min_%,wind_avg_m_per_sec,wind_max_m_per_sec,wind_min_m_per_sec,wind_bearing_deg,wind_direction_compass,dew_point_cels,geometry
date,,,,,,,,,,,,,,,,,,,,,
2020-04-16,2020-04-16T00:00:00+00:00,2020-04-16T23:59:59+00:00,F41,"Cloudy, Heavy Rain, Light Wind/Calm",-4.331214,-11.137627,100.000000,34.500,100.000,0.000,4488.0,94.950000,97.500000,87.599998,2.197004,2.947335,0.990877,162.6,SSE,-8.221058,POINT (-105.64822 40.31325)
2020-04-17,2020-04-17T00:00:00+00:00,2020-04-17T23:59:59+00:00,D21,"Partly Cloudy, Light Rain, Light Wind/Calm",-3.763978,-18.777864,100.000000,1.125,49.500,50.500,8070.0,90.541666,97.500000,83.699997,2.358432,4.567464,0.390056,251.0,WSW,-12.283428,POINT (-105.64822 40.31325)
2020-04-18,2020-04-18T00:00:00+00:00,2020-04-18T23:59:59+00:00,D31,"Partly Cloudy, Moderate Rain, Light Wind/Calm",-0.670270,-11.789642,100.000000,3.500,56.375,43.625,6330.0,89.333334,97.800003,81.199997,1.837758,2.912856,1.063790,263.0,W,-8.195250,POINT (-105.64822 40.31325)
2020-04-19,2020-04-19T00:00:00+00:00,2020-04-19T23:59:59+00:00,F31,"Cloudy, Moderate Rain, Light Wind/Calm",-0.570677,-9.427953,95.833328,3.125,90.250,9.750,7476.0,92.870833,99.699997,82.699997,2.999532,6.478321,0.536492,267.6,W,-5.758601,POINT (-105.64822 40.31325)
2020-04-20,2020-04-20T00:00:00+00:00,2020-04-20T23:59:59+00:00,E31,"Mostly Cloudy, Moderate Rain, Light Wind/Calm",1.834542,-6.715537,39.166668,3.000,74.000,26.000,7410.0,96.350000,99.400002,90.599998,2.126241,3.160877,1.052093,251.4,WSW,-3.468851,POINT (-105.64822 40.31325)

In [23]:
# Create geodataframe - soil forecast
forecast_soil_gdf = WeatherFieldForecast.api_to_gdf(forecast_object, forecast_type='soil')

In [24]:
# Display geodataframe
forecast_soil_gdf.head()

                           soil_temp_avg_cels  soil_temp_max_cels  \
date       ground_depth_m
2020-04-16 0-0.1                    -6.644334           -6.250000
           0.1-0.4                  -2.904246           -2.893301
           0.4-1                    -2.077790           -2.077637
           1-2                      -1.238730           -1.238242
2020-04-17 0-0.1                    -8.822171           -6.604831

                           soil_temp_min_cels  soil_moisture_avg_%  \
date       ground_depth_m
2020-04-16 0-0.1                    -7.118310            38.250000
           0.1-0.4                  -2.909570            35.550001
           0.4-1                    -2.078242            26.303709
           1-2                      -1.240000            19.543127
2020-04-17 0-0.1                   -10.671802            38.504168

                           soil_moisture_max_%  soil_moisture_min_%  \
date       ground_depth_m
2020-04-16 0-0.1                     38.400002            38.100002
           0.1-0.4                   35.600002            35.500000
           0.4-1                     26.303709            26.303709
           1-2                       19.543127            19.543127
2020-04-17 0-0.1                     38.600002            38.400002

                                              geometry
date       ground_depth_m
2020-04-16 0-0.1           POINT (-105.64822 40.31325)
           0.1-0.4         POINT (-105.64822 40.31325)
           0.4-1           POINT (-105.64822 40.31325)
           1-2             POINT (-105.64822 40.31325)
2020-04-17 0-0.1           POINT (-105.64822 40.31325)

## Fields

In [25]:
# Create a Fields objects at the Fields class level
fields = Fields(api_key, api_secret)

In [26]:
# Show all fields associated with the api key & secret at the Fields class level
fields.get()

You have 9 fields shown on this page.
#  Field Name 		 Field ID
-------------------------------------------
1. Manchester-VT 	 Manchester-VT
2. RMNP 	 Colorado-Test-1
3. RMNP 	 Colorado-Test-2
4. RMNP 	 Colorado-Test-4
5. RMNP 	 Colorado-Test-5
6. RMNP 	 RMNP-Test-Acre-1
7. RMNP 	 RMNP-Test-Acre-10000
8. Bear Lake 	 CO-RMNP-Bear-Lake
9. Bear Lake 	 Fields-Class-Test

Fields listed above.

In [27]:
# Show a single field (at the Fields class level)
fields.get('CO-RMNP-Bear-Lake')

{'name': 'Bear Lake',
 'acres': 1.0,
 'centerPoint': {'latitude': 40.31325, 'longitude': -105.648222},
 'farmId': 'Bear-Lake',
 'id': 'CO-RMNP-Bear-Lake',
 '_links': {'self': {'href': '/v2/fields/CO-RMNP-Bear-Lake'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/CO-RMNP-Bear-Lake/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/CO-RMNP-Bear-Lake/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/CO-RMNP-Bear-Lake/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/CO-RMNP-Bear-Lake/agronomicvalues'}}}

In [28]:
# Create field at the Fields class level
fields.create(field_id='N-VT', field_name='N-VT',
              center_latitude=42.5, center_longitude=-72.5,
              acres=1, farm_id='N-VT')

Attempting to create new field....

{'name': 'N-VT',
 'acres': 1.0,
 'centerPoint': {'latitude': 42.5, 'longitude': -72.5},
 'farmId': 'N-VT',
 'id': 'N-VT',
 '_links': {'self': {'href': '/v2/fields/N-VT'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/N-VT/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/N-VT/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/N-VT/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/N-VT/agronomicvalues'}}}

In [29]:
# Update the field name and farm id for a specific field (at the Fields class level)
fields.update(field_id='N-VT', name='New Field Name', farm_id='New Farm ID')

{'name': 'New Field Name',
 'acres': 1.0,
 'centerPoint': {'latitude': 42.5, 'longitude': -72.5},
 'farmId': 'New Farm ID',
 'id': 'N-VT',
 '_links': {'self': {'href': '/v2/fields/N-VT'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/N-VT/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/N-VT/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/N-VT/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/N-VT/agronomicvalues'}}}

In [30]:
# Delete a specific field at the Fields class level
fields.delete(field_id='N-VT')

Deleted field: N-VT

## Field

In [31]:
# Create field (from super class Fields)
Fields(api_key, api_secret).create(
    field_id='VT-Test-For-Delete', field_name='Test',
    center_latitude=42.5, center_longitude=-72.5,
    acres=1, farm_id='Test')

Attempting to create new field....

{'name': 'Test',
 'acres': 1.0,
 'centerPoint': {'latitude': 42.5, 'longitude': -72.5},
 'farmId': 'Test',
 'id': 'VT-Test-For-Delete',
 '_links': {'self': {'href': '/v2/fields/VT-Test-For-Delete'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/VT-Test-For-Delete/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/VT-Test-For-Delete/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/agronomicvalues'}}}

In [32]:
# Define a field a the Field subclass level
field = Field(api_key, api_secret, 'VT-Test-For-Delete')

In [33]:
# Get the field info at the Field subclass level
field.get()

{'name': 'Test',
 'acres': 1.0,
 'centerPoint': {'latitude': 42.5, 'longitude': -72.5},
 'farmId': 'Test',
 'id': 'VT-Test-For-Delete',
 '_links': {'self': {'href': '/v2/fields/VT-Test-For-Delete'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/VT-Test-For-Delete/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/VT-Test-For-Delete/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/agronomicvalues'}}}

In [34]:
# Update name and farm id at the Field subclass level
field.update(name='Test New Name', farm_id='Test Farm ID')

{'name': 'Test New Name',
 'acres': 1.0,
 'centerPoint': {'latitude': 42.5, 'longitude': -72.5},
 'farmId': 'Test Farm ID',
 'id': 'VT-Test-For-Delete',
 '_links': {'self': {'href': '/v2/fields/VT-Test-For-Delete'},
  'curies': [{'name': 'awhere',
    'href': 'http://awhere.com/rels/{rel}',
    'templated': True}],
  'awhere:observations': {'href': '/v2/weather/fields/VT-Test-For-Delete/observations'},
  'awhere:forecasts': {'href': '/v2/weather/fields/VT-Test-For-Delete/forecasts'},
  'awhere:plantings': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/plantings'},
  'awhere:agronomics': {'href': '/v2/agronomics/fields/VT-Test-For-Delete/agronomicvalues'}}}

In [35]:
# Delete field at the Field subclass level
field.delete()

Deleted field: VT-Test-For-Delete

## Agronomics Location - Values

In [36]:
# Define AgronomicLocationValues object
agronomic_object = AgronomicsLocationValues(
    api_key, api_secret, latitude=40.313250, longitude=-105.648222)

In [37]:
# Define kwargs (parameters from get_data)
#values_kwargs = {'start_day': '05-01', 'end_day': '05-10'}

# Create geodataframe - single day (today)
values_gdf = AgronomicsLocationValues.api_to_gdf(
    agronomic_object, value_type='single_day')

In [38]:
# Display geodataframe
values_gdf

,gdd_daily_total_cels,ppet_daily_total,pet_daily_total_mm,geometry
date,,,,
2020-04-16,0.0,21.034646,1.087492,POINT (40.313 -105.648)

In [39]:
# Define kwargs (parameters from get_data)
values_kwargs ={ 'end_day': '04-23'}

# Create geodataframe - date range
total_accum_gdf, daily_accum_gdf = AgronomicsLocationValues.api_to_gdf(
    agronomic_object, value_type='multi_day', kwargs=values_kwargs)

In [40]:
# Display dataframe - total
total_accum_gdf

,gdd_range_total_cels,ppet_range_total,precip_range_total_mm,pet_range_total_mm,start_day,end_day,geometry
date_range,,,,,,,
2020-04-16/2020-04-23,0.0,41.362272,56.4375,14.006873,2020-04-16,2020-04-23,POINT (40.313 -105.648)

In [41]:
# Display dataframe - daily
daily_accum_gdf

,gdd_daily_total_cels,ppet_daily_total,gdd_rolling_total_cels,ppet_rolling_total,pet_daily_total_mm,precip_rolling_total_mm,pet_rolling_total_mm,geometry
date,,,,,,,,
2020-04-16,0.0,21.034646,0.0,21.034646,1.087492,22.8750,1.087492,POINT (40.313 -105.648)
2020-04-17,0.0,0.082717,0.0,21.117363,1.511174,23.0000,2.598666,POINT (40.313 -105.648)
2020-04-18,0.0,2.211074,0.0,23.328437,1.724275,26.8125,4.322941,POINT (40.313 -105.648)
2020-04-19,0.0,2.284531,0.0,25.612969,1.832980,31.0000,6.155921,POINT (40.313 -105.648)
2020-04-20,0.0,0.901938,0.0,26.514907,2.356037,33.1250,8.511958,POINT (40.313 -105.648)
2020-04-21,0.0,2.447164,0.0,28.962071,2.451818,39.1250,10.963776,POINT (40.313 -105.648)
2020-04-22,0.0,1.301866,0.0,30.263937,1.680280,41.3125,12.644056,POINT (40.313 -105.648)
2020-04-23,0.0,11.098335,0.0,41.362272,1.362817,56.4375,14.006873,POINT (40.313 -105.648)

## Agronomics Location - Norms

In [42]:
# Define AgronomicLocationNorms object
agronomic_object = AgronomicsLocationNorms(
    api_key, api_secret, latitude=40.313250, longitude=-105.648222)

In [43]:
# Define kwargs (parameters from get_data)
norms_kwargs = {'start_day': '05-05'}

# Create geodataframe - single day 
norms_gdf = AgronomicsLocationNorms.api_to_gdf(
    agronomic_object, value_type='single_day', kwargs=norms_kwargs)

In [44]:
# Display geodataframe
norms_gdf

,gdd_daily_average_total_cels,gdd_daily_average_total_std_dev_cels,pet_daily_average_total_mm,pet_daily_average_total_std_dev_mm,ppet_daily_average_total,ppet_daily_average_total_std_dev,geometry
day,,,,,,,
05-05,0.0,0.0,3.832843,1.041593,0.155951,0.493161,POINT (40.313 -105.648)

In [45]:
# Define kwargs (parameters from get_data)
norms_kwargs = {'start_day': '05-05', 'end_day': '05-14'}

# Create geodataframe - date range
total_accum_gdf, daily_accum_gdf = AgronomicsLocationNorms.api_to_gdf(
    agronomic_object, value_type='multi_day', kwargs=norms_kwargs)

In [46]:
# Display dataframe - total
total_accum_gdf

,gdd_range_average_total_cels,gdd_range_average_total_std_dev_cels,precip_range_average_total_mm,precip_range_average_total_std_dev_mm,pet_range_average_total_mm,pet_range_average_total_std_dev,ppet_range_daily_average,ppet_range_daily_average_std_dev,start_day,end_day,geometry
date_range,,,,,,,,,,,
05-05/05-14,0.379,1.037823,23.361888,14.278576,30.357351,6.185918,1.559658,1.317701,05-05,05-14,POINT (40.313 -105.648)

In [47]:
# Display dataframe - daily
daily_accum_gdf

,gdd_daily_average_cels,gdd_daily_average_std_dev_cels,pet_daily_average_mm,pet_daily_average_std_dev_mm,ppet_daliy_average,ppet_daily_average_std_dev,gdd_rolling_total_average,gdd_rolling_total_average_std_dev,precip_rolling_total_average_mm,precip_rolling_total_average_std_dev_mm,pet_rolling_total_average_mm,pet_rolling_total_average_std_dev_mm,ppet_rolling_total_average,ppet_rolling_total_average_std_dev,geometry
day,,,,,,,,,,,,,,,
05-05,0.000,0.000000,3.832843,1.041593,0.155951,0.493161,0.000,0.000000,0.234100,0.740289,3.832843,1.041593,0.155951,0.493161,POINT (40.313 -105.648)
05-06,0.000,0.000000,3.457658,0.992522,0.216588,0.451959,0.000,0.000000,1.095008,1.857366,7.290501,1.812581,0.372539,0.610258,POINT (40.313 -105.648)
05-07,0.000,0.000000,2.809468,1.267962,2.044107,2.872889,0.000,0.000000,5.411238,5.628859,10.099969,2.545161,2.416646,2.886677,POINT (40.313 -105.648)
05-08,0.000,0.000000,2.701147,1.375317,1.060763,1.645676,0.000,0.000000,7.682438,8.062241,12.801115,3.610664,3.477408,3.712774,POINT (40.313 -105.648)
05-09,0.049,0.154951,3.039473,1.499731,3.470099,7.786943,0.049,0.154951,13.103688,13.589002,15.840589,4.865746,6.947508,8.347424,POINT (40.313 -105.648)
05-10,0.000,0.000000,2.878678,1.339583,1.276852,3.231305,0.049,0.154951,15.062138,15.300004,18.719267,5.834415,8.224360,10.960611,POINT (40.313 -105.648)
05-11,0.000,0.000000,2.335353,1.036487,4.767200,10.404659,0.049,0.154951,19.217388,14.592220,21.054621,5.765262,12.991560,12.556768,POINT (40.313 -105.648)
05-12,0.000,0.000000,2.765314,1.363282,2.247087,3.432021,0.049,0.154951,22.394788,13.287262,23.819934,5.580133,15.238646,12.824787,POINT (40.313 -105.648)
05-13,0.119,0.376311,3.194899,1.188389,0.271912,0.573243,0.168,0.390720,23.061838,13.662428,27.014834,5.943477,15.510558,13.010427,POINT (40.313 -105.648)
05-14,0.211,0.667241,3.342517,1.239108,0.086019,0.272016,0.379,1.037823,23.361888,14.278576,30.357351,6.185918,15.596577,13.177008,POINT (40.313 -105.648)

## Agronomics Field -  Values

In [48]:
# Define AgronomicsFieldValues object
agronomic_object = AgronomicsFieldValues(
    api_key, api_secret, field_id='CO-RMNP-Bear-Lake')

In [49]:
# Define kwargs
# values_kwargs = {'start_day': '01-01'}
# values_kwargs = {'start_day': '2019-05-05'}

# Create geodataframe - single day
norms_gdf = AgronomicsFieldValues.api_to_gdf(
    agronomic_object, value_type='single_day')

In [50]:
# Display geodataframe
norms_gdf

,gdd_daily_total_cels,ppet_daily_total,pet_daily_total_mm,geometry
date,,,,
2020-04-16,0.0,21.034646,1.087492,POINT (40.313 -105.648)

In [51]:
# Define kwargs
values_kwargs = {'start_day': '03-03', 'end_day': '03-09'}

# Create geodataframes - multi day
total_accum_gdf, daily_accum_gdf = AgronomicsFieldValues.api_to_gdf(
    agronomic_object, value_type='multi_day', kwargs=values_kwargs)

In [52]:
# Display geodataframe - total
total_accum_gdf

,gdd_range_total_cels,ppet_range_total,precip_range_total_mm,pet_range_total_mm,start_day,end_day,geometry
date_range,,,,,,,
2020-03-03/2020-03-09,0.0,0.285394,0.587,12.828991,2020-03-03,2020-03-09,POINT (40.313 -105.648)

In [53]:
# Display geodataframe - daily
daily_accum_gdf

,gdd_daily_total_cels,ppet_daily_total,gdd_rolling_total_cels,ppet_rolling_total,pet_daily_total_mm,precip_rolling_total_mm,pet_rolling_total_mm,geometry
date,,,,,,,,
2020-03-03,0.0,0.000000,0.0,0.000000,1.592815,0.000,1.592815,POINT (40.313 -105.648)
2020-03-04,0.0,0.000000,0.0,0.000000,2.001904,0.000,3.594720,POINT (40.313 -105.648)
2020-03-05,0.0,0.000000,0.0,0.000000,1.792623,0.000,5.387342,POINT (40.313 -105.648)
2020-03-06,0.0,0.117273,0.0,0.117273,1.910081,0.224,7.297423,POINT (40.313 -105.648)
2020-03-07,0.0,0.168122,0.0,0.285394,2.159150,0.587,9.456573,POINT (40.313 -105.648)
2020-03-08,0.0,0.000000,0.0,0.285394,1.819363,0.587,11.275935,POINT (40.313 -105.648)
2020-03-09,0.0,0.000000,0.0,0.285394,1.553055,0.587,12.828991,POINT (40.313 -105.648)

## Agronomics Field - Norms

In [54]:
# Define AgronomicsFieldNorms object
agronomic_object = AgronomicsFieldNorms(
    api_key, api_secret, field_id='CO-RMNP-Bear-Lake')

In [55]:
# Define kwargs
# values_kwargs = {'start_day': '01-01'}
# values_kwargs = {'start_day': '2019-05-05'}

# Create geodataframe - single day
norms_gdf = AgronomicsFieldNorms.api_to_gdf(
    agronomic_object, value_type='single_day')

In [56]:
# Display geodataframe
norms_gdf

,gdd_daily_average_total_cels,gdd_daily_average_total_std_dev_cels,pet_daily_average_total_mm,pet_daily_average_total_std_dev_mm,ppet_daily_average_total,ppet_daily_average_total_std_dev,geometry
day,,,,,,,
01-01,0.0,0.0,0.49164,0.180443,0.0,0.0,POINT (40.313 -105.648)

In [57]:
# Define kwargs
values_kwargs = {'start_day': '03-03', 'end_day': '03-09'}

# Create geodataframes - multi day
total_accum_gdf, daily_accum_gdf = AgronomicsFieldNorms.api_to_gdf(
    agronomic_object, value_type='multi_day', kwargs=values_kwargs)

In [58]:
# Display geodataframe - total
total_accum_gdf

,gdd_range_average_total_cels,gdd_range_average_total_std_dev_cels,precip_range_average_total_mm,precip_range_average_total_std_dev_mm,pet_range_average_total_mm,pet_range_average_total_std_dev,ppet_range_daily_average,ppet_range_daily_average_std_dev,start_day,end_day,geometry
date_range,,,,,,,,,,,
03-03/03-09,0.0,0.0,5.641289,4.828665,11.297969,3.154828,0.684649,0.623627,03-03,03-09,POINT (40.313 -105.648)

In [59]:
# Display geodataframe - daily
daily_accum_gdf

,gdd_daily_average_cels,gdd_daily_average_std_dev_cels,pet_daily_average_mm,pet_daily_average_std_dev_mm,ppet_daliy_average,ppet_daily_average_std_dev,gdd_rolling_total_average,gdd_rolling_total_average_std_dev,precip_rolling_total_average_mm,precip_rolling_total_average_std_dev_mm,pet_rolling_total_average_mm,pet_rolling_total_average_std_dev_mm,ppet_rolling_total_average,ppet_rolling_total_average_std_dev,geometry
day,,,,,,,,,,,,,,,
03-03,0.0,0.0,1.653226,0.603839,0.130940,0.414069,0.0,0.0,0.256300,0.810492,1.653226,0.603839,0.130940,0.414069,POINT (40.313 -105.648)
03-04,0.0,0.0,1.577805,0.723463,0.113798,0.359861,0.0,0.0,0.381100,0.861143,3.231031,1.238306,0.244738,0.517533,POINT (40.313 -105.648)
03-05,0.0,0.0,1.518394,0.575313,0.644621,0.916319,0.0,0.0,1.515150,1.642998,4.749425,1.678908,0.889359,1.004877,POINT (40.313 -105.648)
03-06,0.0,0.0,1.824930,0.599086,0.565975,0.843141,0.0,0.0,2.334378,2.351973,6.574355,2.121232,1.455333,1.405380,POINT (40.313 -105.648)
03-07,0.0,0.0,1.364605,0.505793,1.266144,2.627019,0.0,0.0,3.480278,4.122790,7.938960,2.254256,2.721477,3.558716,POINT (40.313 -105.648)
03-08,0.0,0.0,1.494349,0.600244,1.304871,2.134303,0.0,0.0,4.975339,4.132678,9.433309,2.696887,4.026349,3.515608,POINT (40.313 -105.648)
03-09,0.0,0.0,1.864659,0.694627,0.766193,1.962569,0.0,0.0,5.641289,4.828665,11.297969,3.154828,4.792541,4.365392,POINT (40.313 -105.648)